{%  extends 'todo/main.html' %}

{% block content %}

{%  include 'todo/status.html' %}

<br>

<div class="row">
	<div class="col s12">
		
		<h5>CUSTOMERS: {{total_customers}}</h5>
		<hr>
		<div class="card ">
			
			<table class="table responsive-table striped">
				<thead>
				<tr>
					<th></th>
					<th>Customer</th>
					<th>Phone</th>
				</tr>
				</thead>
				<tbody>
				{% for customer in customers %}
					<tr>
						<td><a class="btn btn-sm btn-info" href="{% url 'customer' customer.id %}">View</a></td>
						<td>{{customer.name}}</td>
						<td>{{customer.phone}}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	
</div>

<br>

<br>

	
<div class="row center">
	


	<div class="col s12 center">
		
			

			<form method="get">
				{{myFilter.form}}

		    <button class="waves-effect waves-light btn center-align" type="submit">Search</button>
		  </form>
		</div>
		</div>
<br>


			
		<div class="col s12">

		<h5>LAST 5 ORDERS</h5>
		<hr>

		<div class="card ">
		

			<table class="table table-sm">
				<tr>
					<th>Product</th>
					<th>Description</th>
					<th>Date Orderd</th>
					<th>Status</th>
					<th>Update</th>
					
				</tr>

				{% for order in orders %}
					<tr>
						<td>{{order.product}}</td>
						<td>{{order.description}}</td>
						<td>{{order.date_created}}</td>
						<td>{{order.status}}</td>
						<td><a class="btn btn-sm btn-danger" href="{% url 'delete_order' order.id %}">Delete</a></td>

					</tr>
				{% endfor %}

		
			</table>
		</div>
	
	</div>


<br>

<br>

</div>

{% endblock %}


