{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>CRM</title>
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

	  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">

</head>
<body>

{% block content %}

		<br>

		<div class="row">
			<div class="col s12">
				<div class="card ">
					<h5>Products</h5>
				</div>
				<div class="card ">
					<table class="table">
						<tr>
							<th>Product</th>
							<th>Category</th>
							<th>Price</th>
						</tr>
<tbody>
						{% for i in products %}
							<tr>
								<td>{{i.name}}</td>
								<td>{{i.category}}</td>
								<td>{{i.price}}</td>
							</tr>
						{% endfor %}
</tbody>
					</table>
				</div>
			</div>
			
		</div>


{% endblock content %}


</body>
</html>